html, body, button, div {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	display: block;
	font-family: sans-serif;
}
button {
	font-size: 1.2em;
	line-height: 1.5em;
}
#log {
	white-space: pre-wrap;
	line-height: 1.5em;
}
audio {
	width: 100%;
	margin: 15px 0;
}